.active-cont {
	width: 30rem !important;
	background-color: white;
	height: 11rem;
	border-radius: 10px;
	padding-top: 0.125rem;
}

.active-form-gr {
	margin-top: 2rem;
}

.active-form-label {
	font-size: 2rem;
	color: black;
}

.active-buttons {
	display: flex;
	width: 20rem;
	justify-content: space-around;
	margin-top: 3rem;
	margin-left: 5rem;
}

.active-message {
	height: 3rem;
}
